.gridContainer {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(7, 60px);
	grid-auto-rows: 60px;
	gap: 5px;
}

.day {
	border: 1px solid black;
	position: relative;
}

.day > button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: inherit;
	border: none;
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
}

.day .info {
	display: flex;
	justify-content: space-between;
}

.day.off {
	background-color: darkred;
	color: white;
}

.day.null {
	background-color: lightgray;
	cursor: not-allowed;
}
