.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 300px;
	min-height: 300px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header > h2 {
	margin: 0;
}

.closeButton {
	aspect-ratio: 1;
}
