.dialog {
	min-width: 300px;
	padding: 0;
	min-height: 300px;
	height: 400px;
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	order: 0;
}

.header > h2 {
	margin: 0;
}

.closeButton {
	aspect-ratio: 1;
}

.content {
	order: 1;
	flex: 1;
}
